<div class="container">

<h3><%= @question.title %></h3>

<blockquote class="blockquote mt-5 mb-5">
  <p class="mb-0">
    <pre>
    <%= @question.desc %>
    </pre>
    </p>
</blockquote>

<span><%= link "Edit", to: Routes.question_path(@conn, :edit, @question), class: "btn btn-primary" %></span>
<span><%= link "Back", to: Routes.question_path(@conn, :index), class: "btn btn-secondary" %></span>
