<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ExpertAdvice</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header class="container text-center">
      <h1>
        <a href="/">ExpertAdvice</a>
      </h1>
    </header>
    <main role="main" class="container">
      <%= if !empty_flash?(get_flash(@conn, :info)) do %>
          <div class="alert alert-success text-center" role="alert">
              <span class="lead font-weight-bold"> <%= get_flash(@conn, :info) %> </span>
          </div>
      <% end %>
      <%= if !empty_flash?(get_flash(@conn, :error)) do %>
          <div class="alert alert-danger text-center" role="alert">
              <span class="lead font-weight-bold"> <%= get_flash(@conn, :error) %> </span>
          </div>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
